.member-list-item {
  width: 50%;
  margin: auto;
  display: flex;
  align-items: center;

  /* TODO: make styles for colored circles more generic */
  .color-circle {
    width: 30px;
    height: 30px;
    margin-right: 10px;

    display: inline-block;
  }
}