.chat-page {
  > * {
    display: inline-block;
  }

  .chat-section-container {
    width: 66%;
    background-color: green;
  }

  .member-list-container {
    width: 33%;
    background-color: blue;
  }
}